/* Variables CSS */
:root {
    --negro: #000;
    --blanco: #FFF;
    --grafito: #222;
    --rojo: #B81515;
    --rojo-oscuro: #a01212;
    --gris-claro: #F5F5F5;
    --gris-oscuro: #8C8C8C;
    --neutral-c: #F5F5F5;
  }
  
  /* Estilos Base */
  * {
    box-sizing: border-box;
    font-family: Montserrat;
    margin: 0;
    padding: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

a {
    text-decoration: none;
}
